language: python
python:
  - "2.7"
install: "pip install -r requirements.txt --use-mirrors"
services:
  - redis-server
script: "cd sixpack && nosetests --with-coverage --cover-erase --cover-package=sixpack"
after_script:
  - coveralls
