closure==20121212
decorator==3.3.2
fakeredis==0.4.0
Flask-Assets==0.12
Flask-DebugToolbar==0.7.1
Flask-SeaSurf==0.1.13
Flask-Cors==2.0.1
Flask==0.10
gevent==1.1.2
gunicorn>=17.5,<=19.4.1
hiredis==0.1.4
jsmin==2.0.2-1
Markdown==2.3.1
mock==1.0.1
python-coveralls==2.4.3
python-dateutil==1.5
PyYAML==3.10
redis==2.9.0
statsd==3.2.1
Werkzeug==0.15.3
yuicompressor==2.4.7
