hiredis==0.1.1
redis==2.9.0
mock==1.0.1
Werkzeug==0.9.1
PyYAML==3.10
Flask==0.10
Flask-SeaSurf==0.1.13
Flask-Assets==0.8
fakeredis==0.4.0
decorator==3.3.2
jsmin==2.0.2-1
python-dateutil==1.5
yuicompressor==2.4.7
closure==20121212
Flask-DebugToolbar==0.7.1
Markdown==2.3.1
python-coveralls==2.4.3
gunicorn>=17.5,<=19.4.1
gevent==1.0.2
statsd==3.2.1
