/* BEGIN: Background */
  body {
    background: #212425 url('../img/background-tile.png') repeat;
    font-family: 'Helvetica Neue',Helvetica,Arial Geneva,sans-serif;
    font-weight: 300;
    color: #FAF3EE;
    font-size: 14px;
  }
  .top-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image:         linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -99;
  }
  pre, .btn { border: 0; }

  .modal-backdrop {
    background: #555;
  }
/* END: Background */

/* BEGIN: Navbar */
  .navbar-inverse .navbar-inner {
    background-color: #cc6d00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc6d00), to(#994d00));
    background-image: -webkit-linear-gradient(top, #cc6d00, #994d00);
    background-image:    -moz-linear-gradient(top, #cc6d00, #994d00);
    background-image:     -ms-linear-gradient(top, #cc6d00, #994d00);
    background-image:         linear-gradient(top, #cc6d00, #994d00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#cc6d00', EndColorStr='#994d00');

    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  }
  .navbar-inner {
    height: 56px
  }
  .navbar-inverse .brand {
    width: 108px;
    height: 30px;
    background: url('../img/logo@2x.png') no-repeat;
    background-size: 108px 30px;
    padding: 0;
    margin: 15px 0 0 10px;
  }
  .navbar-inverse .nav-pills {
    padding: 8px 8px 0 0;
  }
  .navbar-inverse .nav-pills li a {
    color: #FFF;
  }
  .navbar-inverse .nav-pills li a:hover {
    background: rgba(255, 255, 255, .2);
  }
  .navbar-inverse .nav-pills li a:active {
    background: rgba(255, 255, 255, .3);
  }
  .navbar-inverse .nav-pills li.active a,
  .navbar-inverse .nav-pills li.active a:hover {
    background: rgba(0, 0, 0, .3);
  }
/* END: Navbar */

/* BEGIN: Experiments */
  ul.experiments {
    list-style: none;
    margin: 0;
  }
  ul.experiments > li {
    background: rgba(0, 0, 0, .2);
    min-height: 240px;
    position: relative;
    padding: 8px 38px 20px;
    margin-bottom: 45px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(255, 255, 255, .1);
  }
  ul.experiments > li table {
    width: 100%;
    border-collapse: separate;
    background: rgba(255, 255, 255, .03);
    border-radius: 5px;
    overflow: hidden;
  }
  ul.experiments h3.name,
  ul.experiments h3.name a {
    color: #faf3ee;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }
  ul.experiments h3.name a:hover {
    text-decoration: underline;
  }
  ul.experiments > li table tr th,
  ul.experiments > li table tr td {
    padding-right: 22px;
    font-weight: 300;
    text-align: right;
    border-top:    1px solid rgba(255, 255, 255, .05);
    border-left:   1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }

  ul.experiments > li table tr th {
    padding: 10px 20px 10px 0;
  }
  ul.experiments > li table tr th:last-child {
    border-right: 0;
  }
  ul.experiments > li table tr td {
    color: #C2BDB9;
    padding: 10px 20px 10px 0;
  }
  ul.experiments > li table tr td span.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 7px;
    float: left;
  }
  ul.experiments > li table tr td .alt-name {
    margin-left: 25px;
  }
  ul.experiments > li table tr > :first-child {
    padding-left: 20px;
    text-align: left;
    border-left: 0;
  }

  ul.experiments > li table tr > :last-child {
    border-right: 0;
  }

  /* Alternating column shading */
  ul.experiments > li table tr > :nth-child(even) {
    background: rgba(170, 170, 170, 0.02);
  }

  ul.experiments > li table tr.highlight td {
    color: #fff;
    background: none repeat scroll 0 0 rgba(170,170,170,0.1);
  }

/* Failed Experiments */

.failing-experiments > table {
  width: 100%;
  border-collapse: separate;
  background: rgba(255, 255, 255, .03);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.failing-experiments h3.name,
.failing-experiments h3.name a {
  color: #faf3ee;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.failing-experiments h3.name a:hover {
  text-decoration: underline;
}
.failing-experiments > table tr th,
.failing-experiments > table tr td {
  padding-right: 22px;
  font-weight: 300;
  text-align: right;
  border-top:    1px solid rgba(255, 255, 255, .05);
  border-left:   1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.failing-experiments > table tr th {
  padding: 10px 20px 10px 0;
}
.failing-experiments > table tr th:last-child {
  border-right: 0;
}
.failing-experiments > table tr td {
  color: #C2BDB9;
  padding: 10px 20px 10px 0;
}
.failing-experiments > table tr td span.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 7px;
  float: left;
}
.failing-experiments > table tr td .alt-name {
  margin-left: 25px;
}
.failing-experiments > table tr > :first-child {
  padding-left: 20px;
  text-align: left;
  border-left: 0;
}

.failing-experiments > table tr td > :first-child {
  color: #D4534E;
}

.failing-experiments > table tr > :last-child {
  border-right: 0;
}

/* Alternating column shading */
.failing-experiments > table tr > :nth-child(even) {
  background: rgba(170, 170, 170, 0.02);
}

.failing-experiments > table tr.highlight td {
  color: #fff;
  background: none repeat scroll 0 0 rgba(170,170,170,0.1);
}

/* END: Experiments */

/* BEGIN: Placeholder rules for D3 chart */
.chart .axis path, .chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart .x.axis path {
  display: none
}
.chart .x-axis path {
  fill: none;
  stroke: #2e3335;
  stroke-width: 1px;
}
.chart .line {
  fill: none;
  stroke-width: 2.2px;
}
.chart .line-hover {
  stroke-width: 4px;
}
.chart g.tick text {
  font-weight: 400;
  font-size: 12px;
  fill: #3e4547;
}
.chart .grid .tick {
  stroke: #2e3335
}
.chart .grid path {
  stroke-width: 0
}
.chart .area {
  fill: #fff;
  opacity: 0.02;
  stroke-width: 0;
}
.chart .circle {
  stroke: transparent;
  stroke-width: 12px;
}
.chart .circle.circle-hover {
  stroke-width: 6px;
}
/* END: Placeholder rules for D3 chart */
.header {
  min-height: 65px;
  position: relative;
}
.header button {
  float: left;
  margin-left: 5px;
}
.header .modal {
  float: left;
}
.header form,
.alt-controls form {
  margin: 0;
  display: inline-block;
}
.header .controls {
  top: 10px;
  right: 0;
  position: absolute;
}
.header h3 {
  margin-right: 25px;
  margin-bottom: 0;
}
.header .desc {
  margin: 10px 0 15px;
}
.header .desc a {
  color: #66BADA;
}
.header .created-at {
  color: #66BADA;
}
ul.experiments table tbody td span.label {
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 12px;
}
span.circle i.icon-ok {
  margin-top: -2px;
  margin-left: 1px;
}
ul.experiments h4 {
  margin-top: 0;
}
.modal {
  background: url(/static/img/background-tile.png);
}
.modal-header {
  border-bottom: 1px solid #1b1a1a;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 44, 45, 0.40)), to(rgba(37, 38, 39, 0.40)));
  background-image: -webkit-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image:    -moz-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image:     -ms-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image:         linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2c2d', EndColorStr='#252627');
}
.modal-header h3 {
  color: #faf3ee;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.modal textarea {
  resize: none;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  display: block;
  color: #FFF;
  background: #555;
  border: 0;
  box-sizing: border-box;
}
.modal-footer {
  background-color: rgba(170, 170, 170, 0.08);
  border-top: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
}
.modal form {
  margin: 0;
}
.modal .close {
  color: #CCC;
  text-shadow: 0 1px 0 #EEE;
  opacity: .65;
  filter: alpha(opacity=65);
}
.modal .close:hover {
  color: #fff;
  text-shadow: 0 1px 0 #eee;
}
#content {
  padding-top: 90px;
}
ul.experiments h4 {
  font-weight: lighter;
}
.archive-is-not-active,
.archive-is-active {
  display: none;
}
.pause-is-not-active,
.pause-is-active {
  display: none;
}
#dashboard-page ul.experiments > li table {
  width: 650px;
}

#dashboard-page ul.experiments > li .header {
  width: 640px;
}

#dashboard-page .chart-container {
  position: absolute;
  bottom: 60px;
  right: 80px;
  width: 400px;
  height: 200px;
}

#dashboard-page .chart {
  width: 100%;
  height: 200px;
}
#no-data {
  display: none;
}
#no-data h1 {
  font-size: 60px;
  padding: 30px 0 0;
  line-height: 60px;
}
#no-data p {
  margin-top: 40px;
}
#no-data pre {
  background: #333;
  color: #FFF;
}
#no-data .highlight {
  background: #777;
  padding: 0 3px;
  border-radius: 3px;
}
#no-data .well {
  padding: 8px 0;
  background: rgba(0, 0, 0, .1);
  border: 0;
  margin-top: 40px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .2);
}
#no-data .well .nav-list li {
  text-shadow: none;
}
#no-data .well .nav-list li a {
  text-shadow: none;
  color: #66BADA;
}
#no-data .well .nav-list li a:hover {
  color: #FFF;
  background: rgba(255, 255, 255, .2);
}
.note.control {
  font-size: 11px;
  color: #555;
  text-transform: uppercase;
  padding: 0 8px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.confidence-interval {
  color: #777;
  font-size: 12px;
}
.boxplot {
  width: 150px;
  height: 2px;
  background: rgba(255, 255, 255, .3);
  margin-left: 10px;
  position: relative;
  top: -3px;
  display: inline-block;
}
.boxplot-inner {
  position: relative;
  margin: 0 10px;
}
.boxplot:before,
.boxplot:after {
  content: "";
  position: absolute;
  top: -4px;
  width: 2px;
  height: 10px;
  background: rgba(255, 255, 255, .3);
}
.boxplot:before { left:  -2px; }
.boxplot:after  { right: -2px; }
.boxplot .boxplot-box {
  position: absolute;
  top: -4px;
  height: 10px;
  opacity: .9;
}
.boxplot .boxplot-losing {
  background: #d93c3c;
}
.boxplot .boxplot-neutral {
  background: #979797;
}
.boxplot .boxplot-winning {
  background: #9dd210;
}

/* BEGIN: Details page */
#details-page .header .controls .collapse {
  display: inline-block;
}
.choose-kpi-container {
  position: relative;
  display: inline-block;
}
#choose-kpi {
  height: auto;
  margin: 0 0 16px 5px;
  padding-right: 25px;
  width: auto;
  outline: none;
  -webkit-appearance: none;
}
.choose-kpi-arrow {
  position: absolute;
  top: 9px;
  right: 11px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #000;
  pointer-events: none;
}

/* Add a bit of padding because the chart overflows the space */
#details-page .chart-container {
  padding-right: 70px;
}
#details-page .chart {
  width: 100%;
  height: 500px;
  float: left;
  padding-bottom: 100px;
}
#details-page .copy-success {
  display: none;
  margin-top: 15px;
  background: #444;
  color: #FFF;
  text-shadow: none;
  border: 0;
}
code {
  border: 0;
}
/* END: Details page */

/* BEGIN: Responsive rules */
@media (max-width: 1200px) {
  #dashboard-page .chart-container {
    padding: 20px 50px 50px 0;
    position: static;
    width: auto;
  }
  #dashboard-page .chart {

  }

  ul.experiments > li table {
    width: 100% !important;
  }

  ul.experiments > li .header {
    width: 100% !important;
  }

}
@media (max-width: 430px) {
  #dashboard-page ul.experiments > li table tr > :nth-child(1) {
    max-width: 100px;
  }
}
@media (max-width: 580px) {
  #details-page .header .controls .collapse {
    display:block;
  }
}
@media (max-width: 735px) {
  .container {
    width: auto;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }
  #content {
    padding-top: 40px;
  }
  #details-page .header .controls {
    float: left;
    margin: 0 0 15px -5px;
    position: static;
  }
  #details-page .header .controls button {
    margin-bottom:5px;
  }
  #details-page .chart {
    height: 300px;
  }
}
@media (max-width: 400px) {
  ul.experiments > li {
    background: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  #content { padding: 0; }

  ul.experiments h3.name,
  ul.experiments h3.name a,
  .modal-header h3,
  h4 {
    font-weight: 300;
  }
}
/* END: Responsive rules */
table {
  max-width: none;
}
h4 {
  color: #faf3ee;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
hr {
  border: none;
  margin: 40px;
}
.chart p {
  color: #6D6D6D;
  font-weight: 600;
  text-transform: uppercase;
}
#dashboard-page .chart p {
  margin-left: 15px;
  margin-top: 90px;
  text-align: center;
}
#tooltip {
  display: none;
  font: 600 12px sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  position: absolute;
  top: 100px;
  left: 50px;
  padding: 5px 13px;
  background: rgba(100, 100, 100, .8);
  border-radius: 3px;
  pointer-events: none;
}
#tooltip:after {
  position: absolute;
  top: 100%;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;

  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(100, 100, 100, .8);
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
.tooltip-circle {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  display: inline-block;
  margin: 0 5px -2px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

/* Chart color values.*/
.color-1 {
  background: #E23630;
  stroke: #E23630;
}
.color-2 {
  background: #308B3F;
  stroke: #308B3F;
}
.color-3 {
  background: #225AAC;
  stroke: #225AAC;
}
.color-4 {
  background: #e1e319;
  stroke: #e1e319;
}
.color-5 {
  background: #EA7F13;
  stroke: #EA7F13;
}
.color-6 {
  background: #613095;
  stroke: #613095;
}
.color-7 {
  background: #992322;
  stroke: #992322;
}
.color-8 {
  background: #AB3D97;
  stroke: #AB3D97;
}
.color-9 {
  background: #7E466F;
  stroke: #7E466F;
}
.color-10 {
  background: #A4433A;
  stroke: #A4433A;
}
.color-11 {
  background: #B8C6D7;
  stroke: #B8C6D7;
}
.color-12 {
  background: #5D300B;
  stroke: #5D300B;
}
.color-13 {
  background: #D09104;
  stroke: #D09104;
}
.color-14 {
  background: #E99E62;
  stroke: #E99E62;
}
/* End chart color values */
