/* BEGIN: Background */
  body {
    background: url('../img/background-tile.png') repeat;
    font-family: 'Helvetica Neue',Helvetica,Arial Geneva,sans-serif;
    font-weight: 300;
    color: #FAF3EE;
    font-size: 14px;
  }
  .top-gradient {
    background: url('../img/background-gradient.png') repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    z-index: -99;
  }
/* END: Background */

/* BEGIN: Navbar */
  .navbar-inverse .navbar-inner {
    background-color: rgba(0,0,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(172, 89, 17, 0.93)), to(rgba(162, 79, 15, 0.93)));
    background-image: -webkit-linear-gradient(top, rgba(172, 89, 17, 0.93), rgba(162, 79, 15, 0.93));
    background-image: -moz-linear-gradient(top, rgba(172, 89, 17, 0.93), rgba(162, 79, 15, 0.93));
    background-image: -o-linear-gradient(top, rgba(172, 89, 17, 0.93), rgba(162, 79, 15, 0.93));
    background-image: -ms-linear-gradient(top, rgba(172, 89, 17, 0.93), rgba(162, 79, 15, 0.93));
    background-image: linear-gradient(top, rgba(172, 89, 17, 0.93), rgba(162, 79, 15, 0.93));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ac5911', EndColorStr='#a24f0f');
    border: none;
    box-shadow: 1px 0 4px rgba(0,0,0,0.06);
  }
  .navbar-inner {
    height: 56px
  }
  .navbar-inverse .brand {
    width: 109px;
    height: 31px;
    background-image: url('../img/logo.png');
    padding: 0;
    margin-top: 14px;
    margin-left: 35px;
  }
/* END: Navbar */

/* BEGIN: Experiments */
  ul.experiments {
    list-style: none;
    margin: 0;
  }
  ul.experiments li {
    min-height: 240px;
    position: relative;
    padding: 8px 38px 20px;
    margin-bottom: 45px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.03)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ffffff');
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
  }
  ul.experiments li table {
    width: 735px;
    margin-left: -20px;
  }
  ul.experiments h3.name a {
    color: #faf3ee;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
  }
  h3.name h3.name a:hover {
    text-decoration: underline;
    text-shadow: 0 0 2px #fff;
    color: #fff;
  }
  ul.experiments li table tr th, ul.experiments li table tr td {
    padding-right: 22px;
    font-weight: 300;
    text-align: right;
    border-left: 1px solid #1e1f20;
  }
  ul.experiments li table tr {
    border-bottom: 1px solid #1e1f20;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .04);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .04);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .04);
  }
  /* Styles for the header row */
  ul.experiments li table tr:first-child {
    font-weight: 300;
    color: #eeeae6;
    border-bottom: 1px solid #1b1a1a;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
    box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 44, 45, 0.40)), to(rgba(37, 38, 39, 0.40)));
    background-image: -webkit-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
    background-image: -moz-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
    background-image: -o-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
    background-image: -ms-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
    background-image: linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2c2d', EndColorStr='#252627');
  }
  /* Row directly under header needs some extra padding */
  ul.experiments li table tr:nth-child(2) td {
    padding-top: 9px
  }
  ul.experiments li table tr:last-child {
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  ul.experiments li table tr:last-child td {
    padding-bottom: 16px
  }
  ul.experiments li table tr th {
    line-height: 31px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  }
  ul.experiments li table tr th:last-child {
    border-right: 0;
  }
  ul.experiments li table tr td {
    color: #C2BDB9;
    padding-top: 7px;
    padding-bottom: 11px;
    padding-left: 0;
    box-shadow: 1px 0 0 rgba(255, 255, 255, .02) inset;
  }
  ul.experiments li table tr td span.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 7px;
  }
  ul.experiments li table tr th:first-child, ul.experiments li table tr td:first-child {
    padding-left: 20px;
  }
  ul.experiments li table tr th:last-child, ul.experiments li table tr td:last-child {
    padding-right: 20px;
  }
  ul.experiments li table tr td:last-child {
    border-right: 0;
  }
  ul.experiments li table tr th:first-child, ul.experiments li table tr td:first-child {
    text-align: left;
    box-shadow: none;
    border-left: none;
  }

  /* Styles for alternating column shading */
  ul.experiments li table tr th:nth-child(even) {
    background: none repeat scroll 0 0 rgba(170, 170, 170, 0.02);
  }
  ul.experiments li table tr td:nth-child(even) {
    background: none repeat scroll 0 0 rgba(170, 170, 170, 0.02);
  }

  /* The following lines are to combat a Chrome bug: http://code.google.com/p/chromium/issues/detail?id=62445 */
  ul.experiments li table tr {
    display: block
  }
  ul.experiments li table tr th:nth-child(1) {
    width: 151px
  }
  ul.experiments li table tr td:nth-child(1) {
    width: 149px;
    border-left: none;
  }
  ul.experiments li table tr:first-child th:nth-child(2) {
    width: 109px
  }
  ul.experiments li table tr td:nth-child(2) {
    width: 110px
  }
  ul.experiments li table tr:first-child th:nth-child(3) {
    width: 99px
  }
  ul.experiments li table tr td:nth-child(3) {
    width: 100px
  }
  ul.experiments li table tr:first-child th:nth-child(4) {
    width: 134px
  }
  ul.experiments li table tr td:nth-child(4) {
    width: 135px
  }
  ul.experiments li table tr:first-child th:nth-child(5) {
    width: 109px;
  }
  ul.experiments li table tr td:nth-child(5) {
    width: 110px
  }
  /*End Chrome bug workaround*/
/* END: Experiments */

/* BEGIN: Placeholder rules for D3 chart */
.chart .axis path, .chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart .x.axis path {
  display: none
}
.chart .line {
  fill: none;
  stroke-width: 2.2px;
}
.chart g.tick text {
  font-weight: 400;
  font-size: 12px;
  fill: #3e4547;
}
.chart .grid .tick {
  stroke: #2e3335
}
.chart .grid path {
  stroke-width: 0
}
.chart .area {
  fill: #fff;
  opacity: 0.02;
  stroke-width: 0;
}
/* END: Placeholder rules for D3 chart */
div.header {
  min-height: 65px;
  position: relative;
}
div.header button {
  float: left;
  margin-left: 5px;
}
div.header .modal {
  float: left;
}
div.header form, div.alt-controls form {
  margin: 0;
  display: inline-block;
}
div.header .controls {
  top: 10px;
  right: 0;
  position: absolute;
}
div.header h3 {
  margin-right: 25px;
  margin-bottom: 0;
}
div.header h4 {
  margin-bottom: 15px;
}
ul.experiments table tbody td span.label {
  float: right;
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 12px;
}
span.circle i.icon-ok {
  margin-top: -2px;
  margin-left: 1px;
}
ul.experiments h4 {
  margin-top: 0;
}
.modal {
  background: url(/static/img/background-tile.png);
}
.modal-header {
  border-bottom: 1px solid #1b1a1a;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
  box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 44, 45, 0.40)), to(rgba(37, 38, 39, 0.40)));
  background-image: -webkit-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image: -moz-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image: -o-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image: -ms-linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  background-image: linear-gradient(top, rgba(43, 44, 45, 0.40), rgba(37, 38, 39, 0.40));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2c2d', EndColorStr='#252627');
}
.modal-header h3 {
  color: #faf3ee;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.modal textarea {
  resize: none;
  margin: 0 auto;
  width: 500px;
  height: 125px;
  display: block;
  color: #dedede;
  background-color: rgba(170, 170, 170, 0.08);
  border: 1px solid #444;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px, rgba(255, 255, 255, 0.0470588) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0392157) 1px 0px 0px 0px, rgba(0, 0, 0, 0.0392157) -1px 0px 0px 0px;
}
.modal-footer {
  background-color: rgba(170, 170, 170, 0.08);
  border-top: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.05), 1px 0 0 rgba(0,0,0,.04), -1px 0 0 rgba(0,0,0,.04);
}
.modal form {
  margin: 0;
}
#content {
  padding-top: 90px; 
}
ul.experiments h4 {
  font-weight: lighter;
}

#archive-notice {
  position: relative;
  margin-bottom: 25px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.04)), to(rgba(255, 255, 255, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.05));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.05));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ffffff');
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.28) inset;
}
#archive-notice p {
  padding: 10px 38px;
  line-height: 16px;
}
#archive-notice p span {
  color: #6D6D6D;
  font-weight: 600;
  text-transform: uppercase;
}
#archive-notice a.btn {
  position: absolute;
  padding: 2px 10px;
  top: 7px;
  right: 38px;
  font-size: 12px;
}
#dashboard-page ul.experiments li table {
  width: auto;
}
#dashboard-page ul.experiments li table tr th:nth-child(1) {     
  width: 137px;
  min-width: 178px;
}
#dashboard-page ul.experiments li table tr td:nth-child(1) { 
  width: 136px;
  min-width: 178px;
}
#dashboard-page ul.experiments li table tr th:nth-child(2),
#dashboard-page ul.experiments li table tr th:nth-child(3),
#dashboard-page ul.experiments li table tr th:nth-child(4) {
  min-width: 123px;
}
#dashboard-page ul.experiments li table tr td:nth-child(2),
#dashboard-page ul.experiments li table tr td:nth-child(3),
#dashboard-page ul.experiments li table tr td:nth-child(4) {
  min-width: 124px;
}
#dashboard-page .chart {
  position: absolute;
  bottom: 40px;
  right: 70px;
  width: 400px;
  height: 200px;
  display: none;
}
/* BEGIN: Details page */
#details-page .header .controls .collapse {
  display: inline-block;
}
#details-page .chart {
  width: 330px;
  height: 200px;
  margin-bottom: 50px;
}
#details-page ul.experiments li table {
  width: auto;
}
#details-page ul.experiments li table tr th:nth-child(1),
#details-page ul.experiments li table tr td:nth-child(1) {
  min-width: 400px;
}
#details-page ul.experiments li table tr th:nth-child(2),
#details-page ul.experiments li table tr th:nth-child(3),
#details-page ul.experiments li table tr th:nth-child(4),
#details-page ul.experiments li table tr th:nth-child(5) {
  min-width:148px;
}
#details-page ul.experiments li table tr td:nth-child(2),
#details-page ul.experiments li table tr td:nth-child(3),
#details-page ul.experiments li table tr td:nth-child(4),
#details-page ul.experiments li table tr td:nth-child(5) {
  min-width: 149px;
}
/* BEGIN: Details page */

/* BEGIN: Responsive rules */
@media (max-width: 1200px) {
  #dashboard-page .chart {
    display: none !important;
  }
  .container {
    width: 724px;
  }
  #details-page ul.experiments li table tr th:nth-child(1),
  #details-page ul.experiments li table tr td:nth-child(1) {
    min-width: 120px;
  }
  #details-page ul.experiments li table tr th:nth-child(2),
  #details-page ul.experiments li table tr th:nth-child(3),
  #details-page ul.experiments li table tr th:nth-child(4),
  #details-page ul.experiments li table tr th:nth-child(5) {
    min-width: 99px;
  }
  #details-page ul.experiments li table tr td:nth-child(2),
  #details-page ul.experiments li table tr td:nth-child(3),
  #details-page ul.experiments li table tr td:nth-child(4),
  #details-page ul.experiments li table tr td:nth-child(5) {
    min-width: 100px;
  }
}
@media (max-width: 430px) {
  #dashboard-page ul.experiments li table tr th:nth-child(1),
  #dashboard-page ul.experiments li table tr td:nth-child(1) {
    max-width: 100px;
  }
}
@media (max-width: 580px) {
  #details-page ul.experiments li table tr th:nth-child(3),
  #details-page ul.experiments li table tr td:nth-child(3),
  #dashboard-page ul.experiments li table tr th:nth-child(3),
  #dashboard-page ul.experiments li table tr td:nth-child(3) {
    display:none;
  }
  #details-page .header .controls .collapse {
    display:block;
  }
}
@media (max-width: 735px) {
  #details-page ul.experiments li table tr th:nth-child(2),
  #details-page ul.experiments li table tr td:nth-child(2),
  #dashboard-page ul.experiments li table tr th:nth-child(2),
  #dashboard-page ul.experiments li table tr td:nth-child(2) {
    display:none;
  }
  .container {
    width: auto;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }
  #content {
    padding-top: 40px;
  }
  #details-page .header .controls {
    float: left;
    margin: 0 0 15px -5px;
    position: static;
  }
  #details-page .header .controls button {
    margin-bottom:5px;
  }
}
/* END: Responsive rules */
table {
  max-width: none;
}
h4 {
  color: #faf3ee;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
span.note.control {
  font-size: 11px;
  color: #4f4f4f;
  text-transform: uppercase;
  padding-left: 5px;
}
hr {
  border: none;
  margin: 40px;
}
#details-page .chart {
  float:left;
  padding-bottom: 50px;
  padding-right: 125px;
}
#details-page #charts {
  max-width: 910px;
  margin: 0 auto;
}
.chart p {
  color: #6D6D6D;
  font-weight: 600;
  text-transform: uppercase;
}
#dashboard-page .chart p {
  margin-left: 15px;
  margin-top: 90px;
  text-align: center;
}

/* Chart color values.*/
.color-1 {
  background: #714A33;
  stroke: #714A33;
}
.color-2 {
  background: #32587E;
  stroke: #32587E;
}
.color-3 {
  background: #327E51;
  stroke: #327E51;
}
.color-4 {
  background: #3A85AC;
  stroke: #3A85AC;
}
.color-5 {
  background: #8EBDBC;
  stroke: #8EBDBC;
}
.color-6 {
  background: #56BDBB;
  stroke: #56BDBB;
}
.color-7 {
  background: #BDAB4D;
  stroke: #BDAB4D;
}
.color-8 {
  background: #33716F;
  stroke: #33716F;
}
.color-9 {
  background: #7E466F;
  stroke: #7E466F;
}
.color-10 {
  background: #A4433A;
  stroke: #A4433A;
}
.color-11 {
  background: #B8C6D7;
  stroke: #B8C6D7;
}
.color-12 {
  background: #5D300B;
  stroke: #5D300B;
}
.color-13 {
  background: #D09104;
  stroke: #D09104;
}
.color-14 {
  background: #E99E62;
  stroke: #E99E62;
}
/* End chart color values */